.form {
  width: 100%;
  max-width: 800px;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  color: #6f7072;
  margin-left: 10px;
  font-weight: bold;
  margin-bottom: 5px;
}

.input {
  width: 100%;
  resize: none;
  color: #6f7072;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #dfdfdf;
}

.input:focus {
  outline: none !important;
}
