.note {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  padding: 1px 10px 10px 10px;
  background-color: #efefef;
}

.noteContent {
  width: 85%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.noteText {
  width: 95%;
  height: 75%;
  font-size: 14px;
  color: #6f7072;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
}

.noteDate {
  margin: 0;
  height: 20%;
  text-align: end;
  font-size: 12px;
  color: #6f7072;
  width: fit-content;
}

.noteDate:hover {
  cursor: pointer;
}

.noteButtonContainer {
  width: 15%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.noteButton {
  border: 0;
  width: 90px;
  height: 25px;
  font-size: 12px;
  color: #6f7072;
  color: #ffffff;
  border-radius: 2px;
  background-color: #ef5651;
}

.noteButton:hover {
  cursor: pointer;
}

.noteSingle {
  width: 100%;
  margin-bottom: 20px;
  padding: 1px 10px 10px 10px;
  background-color: #efefef;
}

.noteSingleText {
  margin: 0;
  font-size: 14px;
  color: #6f7072;
}

.noteSingleDate {
  display: block;
  font-size: 12px;
  color: #6f7072;
  margin-bottom: 0;
  text-align: right;
}
